.mainHeader {
  width: 100%;
  height: 100%;
}

.mainHeader h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mainContainer {
  background-image: linear-gradient(to bottom, #FF7F00, #FFBA00);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeader h1 {
  margin-top: 2%;
  color: #fff;
}

.mainHeader form {
  margin-top: 5%;
  width: 40%;
  text-align: center;
  position: relative;
}

.mainHeader form input {
  width: 100%;
  padding: 2% 0 2% 5%;
  font-size: 1.5rem;
}

.mainHeader form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
  color: #666;
  font-size: 1.2rem;
}

.widgetWeather {
  margin-top: 2%;
  background: #fff;
  padding: 2% 5%;
  width: 70%;
  height: 40%;
  color: #444;
  font-weight: 500;
  font-family: "Opens Sans", sans-serif;
}

.widgetWeather h2 {
  color: #444;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 2%;
}

.widgetWeather h1 {
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.widgetWeather .moreInfoweather {
  width: 60%;
  height: 20%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}

.widgetWeather .moreInfoweather.moreInfoweather_item {
  width: 50%;
  margin-bottom: 1rem;

  display: inline-block;
}

.iarr {
  color: orangered;
  font-weight: bolder;
}
.iarr,
.sensacaoTermica,
.vento,
.humidade,
.lowAndHigh {
  font-weight: bolder;
}

.capitais {
  display: flex;
  justify-content: center;
}

.capitais {
  width: 35%;
  border-top: 1px solid #fff;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 5%;
}

.capitais .headingCapitais {
  align-self: flex-start;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
