// Sizes
$full-width: 100%;
$full-height: 100%;

// Fonts
$title-font: 'Open Sans', sans-serif;


// Paleta de cores
$background-color-heigh: #FF7F00;
$background-color-low: #FFBA00;

$black: #000;
$white: #fff;

$assistant-color-low: #666;
$assistant-color-heigh: #444;