.widgetWeather {
    margin-top: 2%;
    background: $white;
    padding: 2% 5%;
    width: 70%;
    color: $assistant-color-heigh;
    font-weight: 500;
    font-family: 'Opens Sans', sans-serif;
}
.widgetWeather h2 {
    color: $assistant-color-heigh;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 2%;
           
}
.widgetWeather h1 {
    color: $assistant-color-heigh;
    font-family: $title-font;
}

.widgetWeather .moreInfoweather {
    width: 70%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.widgetWeather .moreInfoweather.moreInfoweather_item {
    width: 50%;
    display: inline-block;
    padding: 2%;
}