
.widget {
    margin-top: 2%;
    background: $white;
    padding: 2% 5%;
    width: 30%;
    color: $assistant-color-heigh;
    font-weight: 500;
}

.widget h2 {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 4%;
}