.widgetWeather {
    margin-top: 2%;
    background: $white;
    padding: 2% 5%;
    width: 50%;
    color: $assistant-color-heigh;
    font-weight: 500;
}
.widgetWeather h2 {
    color: $assistant-color-heigh;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 2%;
           
}
.widgetWeather h1 {
    color: $assistant-color-heigh;
    font-family: $title-font;
}